.Logout {
    .button_container {
        display: flex;
        justify-content: flex-end;
        button {
            background-color: rgba(162, 234, 227, 0.708);
            width: max-content;
            padding: 0.7em;
            border: 2px solid #e4e6e8;
            border-radius: 5px;
            word-break: none;
            cursor: pointer;
            transition: 0.1s ease-in;
            margin: 2rem;
            &:hover {
            background-color: rgb(158, 209, 217);
            color: white;
            }
        }   
    }
}